input[type=range] {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

div.slider {
    position: relative;
}

div.slider > input {
    position: absolute;
    width: 100%;
    /*cursor: col-resize;*/
    pointer-events: none;
    height: 0;
}

div.slider > input::-webkit-slider-thumb {
    position: relative;
    bottom: 0;
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: all;
    background-color: black;
    border-radius: 10px;
}

div.slider > input:first-child {
    left: 0;
    z-index: 3;
}


div.slider > input:last-child {
    right: 0;
    z-index: 4;
}

div.slider > input:first-child::-webkit-slider-thumb {
    transform: translate(-50%, 0);
}


div.slider > input:last-child::-webkit-slider-thumb {
    transform: translate(50%, 0);
}

